
  
  .patient-form {
    margin: 15px;
  }
  
   label {
    display: inline-block;
    min-width: 100px;
    margin: 5px 0;
  }
  
  .btn {
    padding: 10px 20px;
    cursor: pointer;
    min-width: 100px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    transition: opacity 180ms ease-out, transform 180ms ease-out;
  }
  .btn:hover {
    opacity: 0.8;
  }
  .btn:active {
    transform: translate(1px, 1px);
  }
  .btn-primary {
    background-color: var(--primary);
  }
  .btn-outline {
    border: 1px solid var(--dark);
    color: var(--dark);
  }
  .btn-delete {
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer
  }
  
  .store-front {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    list-style: none;
    padding-left: 0;
  }
  
  .validation-message {
    color: red;
  }
  
  .textfield {
    width: 100%;
    padding: 12px;
    border-radius: 2px;
    border: 1px solid var(--light-gray);
    font-size: 16px;
    transition: opacity 200ms ease-out;
    margin: 5px 0 15px 0;
  }
  
  form {
    background-color: var(--light-gray);
    padding: 20px 50px 20px 20px;
    border-radius: 3px;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .patient {
    background-color: #ececec;
    border-radius: 4px;
    display: grid;
    min-height: 110px;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  .patient-info {
    padding: 10px 10px;
  }
  .patient-info h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
  }
  .patient-count {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
  }
  .patient-info p {
    font-size: 14px;
    margin-top: 10px;
  }
  .patient-buttons {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .patient-sub,
  .patient-add {
    box-shadow: none;
    border: 0;
    transition: opacity 180ms ease-out;
    padding: 5px;
    font-size: 16px;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  .patient-sub {
    border-radius: 0 3px 0 0;
    background-color: var(--secondary);
  }
  .patient-add {
    background-color: var(--primary);
    color: white;
    border-radius: 0 0 3px 0;
  }
  .patient-buttons button:disabled {
    opacity: 0.5;
    cursor: default;
  }
  
  .patient-front li {
    list-style: none;
  }